In [1]:
import pandas as pd

In [12]:
df=pd.read_parquet('/workspaces/Random-Python-Work/2024/April/13-April-2024/shareprice.parquet')

In [13]:
df.head()

,Ticker,day_volume,day_vw,day_open,day_close,day_high,day_low,otc,datetime_est,pct_change,pct_change_3,pct_change_7,sum_3_day_pct_change,sum_7_day_pct_change
0,A,1051655.0,144.28330,144.4200,144.16000,145.0600,143.5500,None,2024-04-10 16:00:00,-0.021981,0.000278,-0.009618,-0.085205,-0.113748
1,AA,5432354.0,36.15460,35.7100,36.19000,36.6600,35.3000,None,2024-04-10 16:00:00,-0.017110,-0.008221,0.063786,-0.023739,-0.006078
2,AAA,2739.0,25.07700,25.0700,25.11000,25.1500,25.0603,None,2024-04-10 16:00:00,0.001596,0.000000,0.002796,-0.026482,-0.035810
3,AAAU,5681509.0,23.14230,23.0300,23.05500,23.2900,22.9600,None,2024-04-10 16:00:00,-0.009452,0.002391,0.037579,-0.082529,-0.135592
4,AABB,4396775.0,0.01961,0.0196,0.01902,0.0208,0.0187,True,2024-04-10 16:00:00,-0.029592,-0.076699,-0.046617,-0.090614,-0.181371

In [16]:
df['Date'] = df['datetime_est'].dt.date

In [23]:
df.head()

,Ticker,day_volume,day_vw,day_open,day_close,day_high,day_low,otc,datetime_est,pct_change,pct_change_3,pct_change_7,sum_3_day_pct_change,sum_7_day_pct_change,Date
0,A,1051655.0,144.28330,144.4200,144.16000,145.0600,143.5500,None,2024-04-10 16:00:00,-0.021981,0.000278,-0.009618,-0.085205,-0.113748,2024-04-10
1,AA,5432354.0,36.15460,35.7100,36.19000,36.6600,35.3000,None,2024-04-10 16:00:00,-0.017110,-0.008221,0.063786,-0.023739,-0.006078,2024-04-10
2,AAA,2739.0,25.07700,25.0700,25.11000,25.1500,25.0603,None,2024-04-10 16:00:00,0.001596,0.000000,0.002796,-0.026482,-0.035810,2024-04-10
3,AAAU,5681509.0,23.14230,23.0300,23.05500,23.2900,22.9600,None,2024-04-10 16:00:00,-0.009452,0.002391,0.037579,-0.082529,-0.135592,2024-04-10
4,AABB,4396775.0,0.01961,0.0196,0.01902,0.0208,0.0187,True,2024-04-10 16:00:00,-0.029592,-0.076699,-0.046617,-0.090614,-0.181371,2024-04-10

In [26]:
df['Date'] = pd.to_datetime(df['Date'])

In [28]:
df['Date'].unique()

<DatetimeArray>
['2024-04-10 00:00:00', '2024-04-01 00:00:00', '2024-04-05 00:00:00',
 '2024-04-08 00:00:00', '2024-04-09 00:00:00', '2024-03-26 00:00:00',
 '2024-04-03 00:00:00', '2024-03-22 00:00:00', '2024-04-04 00:00:00',
 '2024-03-28 00:00:00', '2024-04-02 00:00:00', '2024-03-20 00:00:00',
 '2024-03-18 00:00:00', '2024-03-27 00:00:00', '2024-03-13 00:00:00',
 '2024-03-15 00:00:00', '2024-03-12 00:00:00', '2024-03-21 00:00:00',
 '2024-03-14 00:00:00', '2024-03-25 00:00:00', '2024-03-19 00:00:00']
Length: 21, dtype: datetime64[ns]

In [30]:
ten_data=df.loc[df['Date'] == "2024-04-10"]

In [31]:
ten_data.reset_index(drop=True, inplace=True)

In [32]:
ten_data.shape

(14563, 15)

In [33]:
eight_data=df.loc[df['Date'] == "2024-04-08"]

In [34]:
eight_data.reset_index(drop=True, inplace=True)

In [35]:
eight_data.shape

(726, 15)