In [1]:
import pandas as pd

In [12]:
df=pd.read_parquet('/workspaces/Random-Python-Work/2024/April/13-April-2024/shareprice.parquet')

In [13]:
df.head()

,Ticker,day_volume,day_vw,day_open,day_close,day_high,day_low,otc,datetime_est,pct_change,pct_change_3,pct_change_7,sum_3_day_pct_change,sum_7_day_pct_change
0,A,1051655.0,144.28330,144.4200,144.16000,145.0600,143.5500,None,2024-04-10 16:00:00,-0.021981,0.000278,-0.009618,-0.085205,-0.113748
1,AA,5432354.0,36.15460,35.7100,36.19000,36.6600,35.3000,None,2024-04-10 16:00:00,-0.017110,-0.008221,0.063786,-0.023739,-0.006078
2,AAA,2739.0,25.07700,25.0700,25.11000,25.1500,25.0603,None,2024-04-10 16:00:00,0.001596,0.000000,0.002796,-0.026482,-0.035810
3,AAAU,5681509.0,23.14230,23.0300,23.05500,23.2900,22.9600,None,2024-04-10 16:00:00,-0.009452,0.002391,0.037579,-0.082529,-0.135592
4,AABB,4396775.0,0.01961,0.0196,0.01902,0.0208,0.0187,True,2024-04-10 16:00:00,-0.029592,-0.076699,-0.046617,-0.090614,-0.181371

In [16]:
df['Date'] = df['datetime_est'].dt.date

In [23]:
df.head()

,Ticker,day_volume,day_vw,day_open,day_close,day_high,day_low,otc,datetime_est,pct_change,pct_change_3,pct_change_7,sum_3_day_pct_change,sum_7_day_pct_change,Date
0,A,1051655.0,144.28330,144.4200,144.16000,145.0600,143.5500,None,2024-04-10 16:00:00,-0.021981,0.000278,-0.009618,-0.085205,-0.113748,2024-04-10
1,AA,5432354.0,36.15460,35.7100,36.19000,36.6600,35.3000,None,2024-04-10 16:00:00,-0.017110,-0.008221,0.063786,-0.023739,-0.006078,2024-04-10
2,AAA,2739.0,25.07700,25.0700,25.11000,25.1500,25.0603,None,2024-04-10 16:00:00,0.001596,0.000000,0.002796,-0.026482,-0.035810,2024-04-10
3,AAAU,5681509.0,23.14230,23.0300,23.05500,23.2900,22.9600,None,2024-04-10 16:00:00,-0.009452,0.002391,0.037579,-0.082529,-0.135592,2024-04-10
4,AABB,4396775.0,0.01961,0.0196,0.01902,0.0208,0.0187,True,2024-04-10 16:00:00,-0.029592,-0.076699,-0.046617,-0.090614,-0.181371,2024-04-10

In [26]:
df['Date'] = pd.to_datetime(df['Date'])

In [27]:
df.loc[df['Date'] == "2024-04-10"]

,Ticker,day_volume,day_vw,day_open,day_close,day_high,day_low,otc,datetime_est,pct_change,pct_change_3,pct_change_7,sum_3_day_pct_change,sum_7_day_pct_change,Date
0,A,1051655.0,144.28330,144.4200,144.16000,145.0600,143.5500,None,2024-04-10 16:00:00,-0.021981,0.000278,-0.009618,-0.085205,-0.113748,2024-04-10
1,AA,5432354.0,36.15460,35.7100,36.19000,36.6600,35.3000,None,2024-04-10 16:00:00,-0.017110,-0.008221,0.063786,-0.023739,-0.006078,2024-04-10
2,AAA,2739.0,25.07700,25.0700,25.11000,25.1500,25.0603,None,2024-04-10 16:00:00,0.001596,0.000000,0.002796,-0.026482,-0.035810,2024-04-10
3,AAAU,5681509.0,23.14230,23.0300,23.05500,23.2900,22.9600,None,2024-04-10 16:00:00,-0.009452,0.002391,0.037579,-0.082529,-0.135592,2024-04-10
4,AABB,4396775.0,0.01961,0.0196,0.01902,0.0208,0.0187,True,2024-04-10 16:00:00,-0.029592,-0.076699,-0.046617,-0.090614,-0.181371,2024-04-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20155,ZVRA,349754.0,4.89830,4.7500,4.92000,5.0700,4.6700,None,2024-04-10 16:00:00,0.040169,0.020747,-0.046512,-0.056532,-0.138836,2024-04-10
20156,ZVSA,204123.0,0.71870,0.7180,0.75000,0.7500,0.7033,None,2024-04-10 16:00:00,0.044859,0.022356,0.003680,-0.043833,-0.086611,2024-04-10
20157,ZWS,779622.0,31.67900,31.3500,31.76000,32.0650,31.1400,None,2024-04-10 16:00:00,-0.023370,-0.012438,-0.041063,-0.031980,0.014550,2024-04-10
20158,ZYME,545995.0,9.07560,9.0800,9.09000,9.1900,8.9903,None,2024-04-10 16:00:00,-0.028846,-0.058031,-0.079960,-0.065196,-0.381508,2024-04-10
20159,ZYXI,125703.0,12.21390,12.1000,12.30000,12.3200,12.0700,None,2024-04-10 16:00:00,0.001629,-0.004854,-0.016000,-0.077405,-0.124762,2024-04-10