In [4]:
my_list = ['apple', 'banana', 'cherry', 'date']
indices = [2, 1, 3, 0]  # Desired order of indices

sorted_list = [x for _, x in sorted(zip(indices, my_list))]
print(sorted_list)  # Output: ['date', 'banana', 'apple', 'cherry']

['date', 'banana', 'apple', 'cherry']

In [5]:
sorted_list = [x for _, x in sorted(zip(indices, my_list))]

In [8]:
new_sored_list = [x for _, x in sorted(zip(indices, sorted_list))]

In [7]:
sorted_list

['date', 'banana', 'apple', 'cherry']

In [6]:
sorted(zip(indices, my_list))

[(0, 'date'), (1, 'banana'), (2, 'apple'), (3, 'cherry')]

In [9]:
import pandas as pd

data = {
    'Ref_ID': [1, 1, 2, 2, 3],
    'Company_Name': ['CompanyA', 'CompanyA', 'CompanyB', 'CompanyB', 'CompanyC'],
    'File_Name': ['file1', 'file2', 'file3', 'file4', 'file5'],
    'Shareable_Link': ['link1', 'link2', 'link3', 'link4', 'link5']
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

Original DataFrame:
   Ref_ID Company_Name File_Name Shareable_Link
0       1     CompanyA     file1          link1
1       1     CompanyA     file2          link2
2       2     CompanyB     file3          link3
3       2     CompanyB     file4          link4
4       3     CompanyC     file5          link5

In [13]:
final_df = df.groupby(['Ref_ID','Company_Name']).agg({
    'File_Name': lambda x:','.join(x), 
    'Shareable_Link': lambda x: ','.join(x)
}).reset_index()
final_df

   Ref_ID Company_Name    File_Name Shareable_Link
0       1     CompanyA  file1,file2    link1,link2
1       2     CompanyB  file3,file4    link3,link4
2       3     CompanyC        file5          link5

In [14]:
list_df = df.groupby(['Ref_ID','Company_Name']).agg({
    'File_Name': lambda x:list(x),
    'Shareable_Link': lambda x: list(x)
    }).reset_index()
list_df.head()

   Ref_ID Company_Name       File_Name  Shareable_Link
0       1     CompanyA  [file1, file2]  [link1, link2]
1       2     CompanyB  [file3, file4]  [link3, link4]
2       3     CompanyC         [file5]         [link5]

In [10]:
# Group by 'Ref_ID' and 'Company_Name', then concatenate 'File_Name' and 'Shareable_Link'
result = df.groupby(['Ref_ID', 'Company_Name']).agg({
    'File_Name': lambda x: ','.join(x),
    'Shareable_Link': lambda x: ','.join(x)
}).reset_index()

print("\nAggregated DataFrame:")
print(result)

Aggregated DataFrame:
   Ref_ID Company_Name    File_Name Shareable_Link
0       1     CompanyA  file1,file2    link1,link2
1       2     CompanyB  file3,file4    link3,link4
2       3     CompanyC        file5          link5